<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - NirvanCare</title>
    <link rel="stylesheet" href="/stylesheets/aboutus.css" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="logo">
        <img
          src="C:\Users\saura\OneDrive\Desktop\hd logo.png"
          height="95px"
          alt="NirvanCare Logo"
        />
      </div>
    </header>

    <!-- Main Content -->
    <div class="main-content">
      <h1>About Us</h1>
      <p>
        Welcome to NirvanCare, your ultimate platform connecting doctors and
        patients through cutting-edge technology. At NirvanCare, we believe in
        facilitating seamless communication and collaboration between healthcare
        providers and individuals seeking medical assistance. Our platform
        empowers patients to find the right doctors, schedule appointments,
        access medical records, and receive personalized care, all in one place.
        Similarly, we provide doctors with tools to manage patient information
        efficiently, deliver telemedicine services, and enhance overall patient
        experience. Join NirvanCare today and experience the future of
        healthcare technology.<br />NirvanCare is a beacon of hope in the realm
        of healthcare, a platform meticulously crafted to foster meaningful
        connections between doctors and patients. Our mission is simple yet
        profound: to revolutionize the way healthcare is delivered, experienced,
        and perceived. Through innovative technological solutions, NirvanCare
        facilitates seamless interactions, empowers patients to make informed
        decisions, and enables healthcare providers to deliver personalized care
        of the highest quality. Our platform transcends boundaries, bringing
        together expertise, empathy, and efficiency in a harmonious blend that
        defines the future of healthcare. Join us on this transformative
        journey, where every click, every message, and every appointment
        represents a step towards a healthier, happier world. Welcome to
        NirvanCare – where compassion meets technology, and where healing
        begins.
      </p>
    </div>

    <!-- Footer -->
    <footer>
      <p>&copy; 2024 NirvanCare. All rights reserved.</p>
    </footer>
  </body>
</html>
