<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doctor Portal</title>
    <link rel="stylesheet" href="/stylesheets/doctor.css" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="logo">
        <img
          src="C:\Users\saura\OneDrive\Desktop\hd logo.png"
          alt="Your Logo"
        />
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div
        class="feature-box"
        onclick="window.location.href='daily_patient_count.html';"
      >
        <h2>Daily Patient Count</h2>
        <p>Check the daily count of patients seen by you.</p>
      </div>
      <div
        class="feature-box"
        onclick="window.location.href='patient_information.html';"
      >
        <h2>Patient Information</h2>
        <p>Access patient IDs and basic information.</p>
      </div>
      <div
        class="feature-box"
        onclick="window.location.href='daily_appointments.html';"
      >
        <h2>Daily Appointments</h2>
        <p>View and manage daily appointments.</p>
      </div>
      <div
        class="feature-box"
        onclick="window.location.href='prescription_management.html';"
      >
        <h2>Prescription Management</h2>
        <p>Write prescriptions for patients.</p>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <p>&copy; 2024 NirvanCare. All rights reserved.</p>
      <nav></nav>
    </footer>
  </body>
</html>
