<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NirvanCare</title>
    <link rel="stylesheet" href="/stylesheets/intro.css" />
</head>

<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <img src="C:\Users\saura\OneDrive\Desktop\hd logo.png" alt="website Logo" />
        </div>
        <!-- <div class="motto"><b>आरोग्यम् धनसंपदा</b></div> -->
        <div class="slideshow">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdji1931PbuaaeOzkiWxZwCP0Y-l4Xi1WwR1sD38DAMHght4-40fDGDgm8uf3LQa0zNBU&usqp=CAU"
                alt="Image 1" />
            <img src="https://t3.ftcdn.net/jpg/05/65/55/96/360_F_565559600_YuYjetRZf0xO4hEzElmYPtWXI7bdpXeE.jpg"
                alt="Image 2" />
            <img src="https://plus.unsplash.com/premium_photo-1674841252366-162fc9b8f983?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Image 3" />
            <img src="https://plus.unsplash.com/premium_photo-1673351534430-f5dde7d87a60?q=80&w=2002&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Image 4" />
            <img src="https://plus.unsplash.com/premium_photo-1682141160157-d6a296a65574?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Image 5" />
            <img src="https://plus.unsplash.com/premium_photo-1674499074438-8f611a3569f6?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Image 6" />
            <img src="https://images.unsplash.com/photo-1638202993928-7267aad84c31?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Image 7" />
            <img src="https://images.unsplash.com/photo-1550831107-1553da8c8464?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Image 8" />
            <img src="https://images.unsplash.com/photo-1505751172876-fa1923c5c528?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Image 9" />
            <img src="https://images.unsplash.com/photo-1578496479763-c21c718af028?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Image 10" />
            <img src="https://images.unsplash.com/photo-1543333995-a78aea2eee50?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Image 11" />
            <img src="https://images.unsplash.com/photo-1582560469781-1965b9af903d?q=80&w=1993&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Image 12" />
            <img src="https://plus.unsplash.com/premium_photo-1661779616524-1825ac40c9d6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Image 13" />
        </div>
    </header>

    <!-- Navigation -->
    <nav>
        <a href="/intro">Home</a>
        <a href="/aboutus" target="_blank">About Us</a>
        <a href="#services"> Services</a>
        <a href="#founders">Contact Us</a>
    </nav>

    <!-- Main Content -->
    <div class="main-content">
        <div class="left-column">
            <div class="feature-box">
                <h2>Advanced Medical Technology</h2>
                <p>
                    Explore our state-of-the-art medical equipment and technology
                    designed to provide the best healthcare experience.
                </p>
            </div>
            <div class="feature-box">
                <h2>Specialized Services</h2>
                <p>
                    From cardiology to neurology, we offer a wide range of specialized
                    services delivered by expert physicians and staff.
                </p>
            </div>
        </div>
        <div class="right-column">
            <div class="feature-box">
                <h2>Personalized Care</h2>
                <p>
                    Our team is committed to providing personalized care tailored to
                    each patient's unique needs and preferences.
                </p>
            </div>
            <div class="feature-box">
                <h2>Community Engagement</h2>
                <p>
                    We actively engage with our community through health education
                    programs, outreach initiatives, and more.
                </p>
            </div>
        </div>
    </div>
    <section id="services" class="services">
        <center>
            <h1>Our Services</h1>
        </center>
        <br />
        <div class="service-container">
            <!-- Doctor Services -->
            <div class="service">
                <div class="service-info">
                    <h2>For Doctors</h2>
                    <p>
                        <b>NirvanCare presents a transformative solution for doctors,
                            revolutionizing patient care through advanced technology. By
                            facilitating seamless communication, efficient appointment
                            management, and access to comprehensive patient records,
                            NirvanCare empowers doctors to deliver personalized care and
                            build stronger relationships with their patients. With
                            telemedicine capabilities and growth opportunities, NirvanCare
                            enables doctors to expand their reach, enhance their practice,
                            and embrace the future of healthcare delivery.</b>
                    </p>
                </div>
                <a href="/login" class="btn" target="_blank">Learn More</a>
            </div>
            <!-- Patient Services -->
            <div class="service">
                <div class="service-info">
                    <h2>For Patient</h2>
                    <p>
                        <b>NirvanCare offers patients a groundbreaking platform designed
                            to enhance their healthcare experience. Through intuitive
                            interfaces and advanced features, patients can easily schedule
                            appointments, access medical records, and engage in virtual
                            consultations with healthcare providers from the comfort of
                            their homes. With personalized health insights and educational
                            resources, NirvanCare empowers patients to take control of their
                            health journey, fostering a collaborative relationship between
                            patients and healthcare .</b>
                    </p>
                </div>
                <a href="/login2" class="btn" target="_blank">Learn More</a>
            </div>
        </div>
    </section>

    <!-- Patient Reviews -->
    <div class="patient-reviews">
        <h2>Patient Reviews</h2>
        <div class="review">
            <img src="https://c8.alamy.com/comp/EWTMPT/1-indian-muslim-man-EWTMPT.jpg" alt="Patient Photo" />
            <div class="review-content">
                <strong>Muhammad Yasif</strong>
                <p>
                    "The services provided by NirvanCare were excellent. The staff was
                    courteous and the facilities were top-notch."
                </p>
            </div>
        </div>
        <div class="review">
            <img src="https://i.pinimg.com/736x/4b/1d/0b/4b1d0bf3dbeadc3238c323c6584c2ca7.jpg" alt="Patient Photo" />
            <div class="review-content">
                <strong>Sarvesh Kumar</strong>
                <p>
                    "I highly recommend NirvanCare to anyone seeking quality healthcare
                    services. I was impressed with their professionalism and
                    dedication."
                </p>
            </div>
        </div>
        <div class="review">
            <img src="https://previews.123rf.com/images/dinodia/dinodia1709/dinodia170902297/85732936-south-indian-man-with-tika-on-forehead-with-sandal-or-saffron-paste-with-black-grey-moustaches-and.jpg"
                alt="Patient Photo" />
            <div class="review-content">
                <strong>Ashok Iyer</strong>
                <p>
                    "Impressed by NirvanCare's website, it guided me seamlessly to book
                    my appointment. The staff's professionalism and the facility's
                    quality left me thoroughly satisfied."
                </p>
            </div>
        </div>
        <div class="review">
            <img src="https://i.pinimg.com/236x/d5/98/c4/d598c4394ddf68f09dbd88e966102650.jpg" alt="Patient Photo" />
            <div class="review-content">
                <strong>Fatima Khan</strong>
                <p>The services provided by NirvanCare were excellent.</p>
            </div>
        </div>
        <div class="review">
            <img src="https://c8.alamy.com/comp/BY9CCF/portrait-of-a-gujarati-man-BY9CCF.jpg" alt="Patient Photo" />
            <div class="review-content">
                <strong>Lalit Patel</strong>
                <p>
                    "Navigating through NirvanCare's website was a breeze, and the
                    personalized care I received mirrored their online promises. Highly
                    recommended for their efficient service and excellent facilities."
                </p>
            </div>
        </div>
        <div class="review">
            <img src="https://static.toiimg.com/thumb/imgsize-23456,msid-67915786,width-600,resizemode-4/67915786.jpg"
                alt="Patient Photo" />
            <div class="review-content">
                <strong>Suresh Pawar</strong>
                <p>
                    "Booking with NirvanCare was simple thanks to their intuitive
                    website. The level of care I received exceeded my expectations, and
                    I left feeling confident in their expertise. A top-notch healthcare
                    provider."
                </p>
            </div>
        </div>
    </div>

    <!-- Founders Section -->
    <section id="founders" class="founders">
        <center>
            <h1>Meet Our Developers</h1>
        </center>
        <br />
        <div class="founder-container">
            <!-- Founder 1 -->
            <div class="founder">
                <img src="/images/profile.jpg" alt="Founder 1 Photo" class="founder-photo" />
                <div class="founder-info">
                    <h2>Saurabh Shinde</h2>
                    <p>
                        Saurabh Shinde, hailing from
                        <span style="color: red">Nashik</span>, is a skilled frontend
                        developer renowned for his work on NirvanCare's interface. Beyond
                        coding, Saurabh finds passion in Mixed Martial Arts (MMA), where
                        he showcases his dedication and discipline. His multifaceted
                        talents, coupled with a relentless drive for excellence, position
                        him as a valuable asset in both the tech and sports arenas.
                    </p>
                </div>
            </div>
            <!-- Founder 2 -->
            <div class="founder">
                <img src="/images/shreenath.jpg" alt="Founder 2 photo" class="founder-photo" />
                <div class="founder-info">
                    <h2>Shreenath Kadam</h2>
                    <p>
                        Shreenath Kadam, a native of
                        <span style="color: red">Nashik</span>, is the adept backend
                        developer behind NirvanCare's robust infrastructure. Proficient in
                        various programming languages, Shreenath's expertise ensures
                        seamless functionality and security of the platform. Beyond
                        coding, he finds solace in the game of tennis, showcasing not only
                        technical prowess but also a flair for sportsmanship.
                    </p>
                </div>
            </div>

            <!-- Founder 3 -->
            <div class="founder">
                <img src="/images/omya.jpg" alt="Founder 3 Photo" class="founder-photo" />
                <div class="founder-info">
                    <h2>Om Nikam</h2>
                    <p>
                        Om Nikam, also from <span style="color: red">Nashik</span> and a
                        graduate of Wisdom High International, contributes significantly
                        to NirvanCare's Data management. With adept skills in coding and
                        problem-solving, Om ensures the platform's efficiency. Outside
                        work, his love for food takes center stage, adding a delightful
                        flavor to his personality. Om's dedication and technical prowess
                        play a vital role in shaping NirvanCare's robust infrastructure.
                    </p>
                </div>
            </div>
            <!-- Founder 4 -->
            <div class="founder">
                <img src="/images/vikas.jpg" alt="Founder 4 Photo" class="founder-photo" />
                <div class="founder-info">
                    <h2>Vikas Chape</h2>
                    <p>
                        Vikas Chape, hailing from
                        <span style="color: blue">Aurangabad</span> (<span style="color: red">Chatrapati Sambhaji
                            Nagar</span>), contributed significantly to NirvanCare. Proficient in
                        mathematics, he played a pivotal role in its development. Engaged
                        in various aspects of the project, his expertise elevated its
                        quality. Beyond work, Vikas is passionate about social
                        initiatives, dedicating time to community welfare. His commitment
                        and skills have been invaluable, shaping NirvanCare's success.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->

    <footer>
        <p>&copy; 2024 NirvanCare. All rights reserved.</p>
    </footer>
</body>

</html>